@page
@model Library.Webapp.Pages.Libraries.IndexModel

<h3>Libraries in der Datenbank</h3>
<p>@Model.Libraries.Count Libraries found. Erstellt um @DateTime.Now.ToString("HH:mm").</p>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="border border-danger p-3 border-3">
        <p class="mb-0">@Model.Message</p>
    </div>
}

<table class="table table-sm">
    <thead>
    <tr>
        <th>Name</th>
        <th>Books available</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var l in Model.Libraries)
    {
        <tr>
            <td>@l.Name</td>
            <td>@l.BooksCount</td>
            <td>
                <a asp-page="/Libraries/Details" asp-route-guid="@l.Guid"><i class="fas fa-info-circle"></i></a>
                <a class="ms-2" asp-page="/Libraries/Edit" asp-route-guid="@l.Guid"><i class="fas fa-edit"></i></a>
                <a class="ms-2" asp-page="/Libraries/Delete" asp-route-guid="@l.Guid"><i class="fas fa-trash-alt"></i></a>
            </td>
            
            <!--td>
                @if (Model.CanEditLibrary(l.Guid))
                {
                    <a asp-page="/Libraries/Details" asp-route-guid="@l.Guid"><i class="fas fa-info-circle"></i></a>
                    <a class="ms-2" asp-page="/Libraries/Edit" asp-route-guid="@l.Guid"><i class="fas fa-edit"></i></a>
                    <a class="ms-2" asp-page="/Libraries/Delete" asp-route-guid="@l.Guid"><i class="fas fa-trash-alt"></i></a>
                }
            </!--td-->
        </tr>
    }
    </tbody>
</table>