@page
@model Library.Webapp.Pages.Libraries.IndexModel

<h3>Libraries in der Datenbank</h3>
<p>@Model.Libraries.Count Libraries gefunden. Erstellt um @DateTime.Now.ToString("HH:mm").</p>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="border border-danger p-3 border-3">
        <p class="mb-0">@Model.Message</p>
    </div>
}

<table class="table table-sm">
    <thead>
    <tr>
        <th>Name</th>
        <th>Bücher</th>
        <th>Aktionen</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var s in Model.Libraries)
    {
        
        <tr>
            <td>@s.Name</td>
            <td>@s.BooksCount</td>
            <td>
                @if (Model.CanEditStore(s.Guid))
                {
                    <a asp-page="/Libraries/Details" asp-route-guid="@s.Guid"><i class="fas fa-info-circle"></i></a>
                    <a class="ms-2" asp-page="/Libraries/Edit" asp-route-guid="@s.Guid"><i class="fas fa-edit"></i></a>
                    <a class="ms-2" asp-page="/Libraries/Delete" asp-route-guid="@s.Guid"><i class="fas fa-trash-alt"></i></a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>